body{
    background-color: #ebf4f3;
}

.card-div {
    width: 210px;
    height: 322px;
    display: inline-block;
    margin-left: 10px;
    border-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    vertical-align: top;
}

.card-img {
    width: 210px;
    height: 141px;
}
/***********************************/
.technology-tag {
    background-color: #92d7e6;
    width: 70px;
    height: 15px;
    font: 500 9px arial;
    padding-right: 3px;
    padding-left: 7px;
    padding-top: 3px; 
    border-radius: 10px;
    color: white;
    margin-bottom: 0;
}

.place-tag {
    color: white;
    background-color: #3e1a9e;
    height: 15px;
    font-size: 9px;
    width: 36px;
    padding-right: 1px;
    padding-left: 7px;
    padding-top: 3px;
    border-radius: 10px;
    margin-bottom: 0;

}

.travel-tag {
    color: white;
    height: 15px;
    font-size: 9px;
    width: 38px;
    padding-right: 3px;
    padding-left: 7px;
    padding-top: 3px;
    border-radius: 10px;
    background-color: #c22fc6;
    margin-bottom: 0;
}

/******************************/

.card-img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-description-div {
    margin: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.card-text-div {
    width: 210px;
}

.card-title {
    margin-top: 7px;
    width: 170px;
    font: bold 11px arial;
    margin-bottom: 0;
    margin-bottom: 7px;
}

.random-text {
    width: 170px;
    font: 10px arial;
    color: #a9a8a8;
    margin-top: 5px;
    margin-bottom: 0;
}

.author-info-div {
    width: 170px;
    height: 36px;
    margin-top: 11px;
}

.pfp-img-div {
    width: 27px;
    height: 50px;
    display: inline-block;
}
.author-pfp {
    width: 27px;
    height: 27px;
    border-radius: 13px;
    margin-top: 10px;
}

.author-uploadtime-div {
    display: inline-block;
    margin: 0;
}

.author-name {
    font: 550 10px arial;
    width: 139px;
    margin: 0;
}

.upload-time {
    margin: 0;
    font: 10px arial;
    width: 130px;
    color: gray;
}

