.paper {
    height: 100%;
    overflow: hidden;
    background-color:white;
    border: 3px solid #8b6571;
    border-radius: 30px;
}
.paper > header >.title {
    width: fit-content;
    margin: auto;
    margin-top: 5px;
}
#addBtn {
    position: absolute;
    background-color: #fae0db;
    width: 25px;
    height: 25px;
    color: #7d4e56;
    font-weight: 800;
    border-radius: 15px;
    font-size: 14px;
    border: 2px solid #7d4e56;
    right: 10px;
    cursor: pointer;
}
.title-img {
    height: 25px;
}
.padding5 {
    padding: 5px;
}
.date {
    font-size: 10px;
    font-family: 'Handwritten';
    color: #7d4e56;
}
.time {
    font-size: 10px;
    font-family: 'Handwritten';
    color: #7d4e56;
}

