.table-row td{
    border-left: 1px solid var(--secondary-black);
    font-size: 12px;
    padding: .4rem;
    border: 1px solid var(--secondary-gray);
    text-align: center;
}
.flex div {
    display: inline-block;
}
.flex div:first-child {
    padding: .3rem;
    border-left: 1px solid var(--secondary-gray);
}
.flex div:last-child {
    padding: .3rem;
    border-right: rpx solid var(--secondary-gray);
}
.red {
    color: var(--red-pastel-dark);
    background-color: var(--red-pastel-light);
}
.green {
    color: var(--green-pastel-dark);
    background-color: var(--green-pastel-light);
}
.yellow {
    color: var(--yellow-pastel-dark);
    background-color: var(--yellow-pastel-light);
}
.blue {
    color: var(--blue-pastel-dark);
    background-color: var(--blue-pastel-light);
}