footer > .fst-sec {
    width: 210px;
    margin: auto;
    margin-top: 16px;
    text-align: center;
    line-height: 2.4;
}
footer > .fst-sec > a {
    font-size: 15px;
    text-decoration: none;
    color: gray;
    margin-left: 10px;
}
.social-link {
    display: flex;
    width: 150px;
    margin-top: 16px;
    justify-content: space-between;
    justify-self: center;
}
.social-link > a > img {
    width: 20px;
    height: 20px;
}
.legal-shit {
    margin-top: 40px;
    display: flex;
    width: 100%;
}
.legal-shit img {
    width: 84px;
    height: 84px;
}